img, video, h1, h2, #header, #navigation, #footer, .bloggHeader:before
{
    display: none;
}
#content
{
    width: 100%;
}
#content>ul
{
    display: none;
}
.center
{
    margin: 0;
    text-align: left;
}
fieldset, textarea, input.formTitleFields
{
    border: 1px solid black;
}
a:link, a:visited
{
    font-size: 20px;
    color: #000;
}
.Bigger:after
{ 
    content:" [" attr(href) "] "; 
}
p, table ol, ul, li
{
    font-size: 20px;
}
#container, #content, .bloggPost, .videoBloggPost, .bloggHeader, .formTitleFields, .formScrollFields, .formScrollField 
{
    border: none;
    border-style: none;
    border-color: #FFF;
}
