body
{    

}

#container
{
    
   width:980px;
   height: auto;
   border: 1px;
   border-style: solid;
   border-color: #FF0000;
   margin: auto;
   background-color: #DBFCFF;
}
#header
{
    width: 980px;
    background-image: url("pics/background.jpg");
}
#navigation
{
    width: 148px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #66D8E2;
}
#content
{
    width: 813px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #FFF;
    padding-left: 5px;
}
#footer
{
    text-align: center;
    width: 980px;
    height: 50px;
    clear: both;
    background-color: #D2ECE5;
    
}
/* Divvarna till blogginläggen.  */
.bloggPost
{
    width: auto;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #FF0000;
}
.videoBloggPost
{
    background-image: url("pics/images.jpg");
    width: auto;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #FF0000;
}
/* Gör så att länkara har sitt utseende och visar den som är aktiv */
.navColor
{
    background-color: #3FACA1;
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
}
.navColor:hover
{
    background-color: #D2ECE5;
}
.activeLink
{
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
    background-color: #D2ECE5;
    font-weight: bold;
}
/*Gör så att länkarna går att klicka på! */
.linkClick{}
/* Plockar bort prickar och siffror vid listor som jag inte ville ha */
ul.noDot
{
    list-style-type:none;
}
ol.noNum
{
    list-style-type:none;
}
/* Ger all text på hemsidan en annan Font än standard fonten. */
p,ol, ul, table
{
    font-family: Arial,Helvetica,sans-serif;
}
a.bigger
{
    font-family: Arial,Helvetica,sans-serif;
    font-size:20px;
}
/* Ger de besökta länkarna samma färg som standard färgen. */
a:visited
{
    color: #2f05FF;
}
h1.headPic
{
    background-image: url("pics/mailpic.jpg");
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 36px;
}



