/* Body är med om jag skulle behöva den senare
body
{    

}
*/
#container
{
    
   width: 980px;
   height: auto;
   border: 1px;
   border-style: solid;
   border-color: #000;
   margin: auto;
   background-color: #DBFCFF;
}
#header
{
    width: 980px;
    background-image: url("pics/background.jpg");
}
#navigation
{
    width: 148px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #66D8E2;
}
#content
{
    width: 813px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #FFF;
    border: 1px;
   border-style: solid;
   border-color: #000;
}
#footer
{
    padding-top: 1px;
    height: 50px;
    text-align: center;
    clear: both;
    background-color: #D2ECE5;
}
/* Lägger labbarna sida vid sida */
.labbPos
{
    float: left;
}
/* Divvarna till blogginläggen.  */
.bloggPost
{
    width: auto;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #000;
}
.videoBloggPost
{
    background-image: url("pics/images.jpg");
    width: auto;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: #000;
}
/* Clearar float */
.clear
{
    clear: both;
}
/* Gör så att menylänkara har sitt utseende och visar den som är aktiv */
.navColor
{
    background-color: #3FACA1;
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
}
.navColor:hover
{
    background-color: #D2ECE5;
}
.activeLink
{
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
    background-color: #D2ECE5;
    font-weight: bold;
}
/* Plockar bort prickar och siffror vid listor som jag inte ville ha */
.noDot
{
    list-style-type: none;
}
.noNum
{
    list-style-type: none;
}
table
{
    background-color: #DBFCFF;
    border-color: #000;
}
thead
{
    background-image: url("pics/background.jpg");
}
tbody
{
    background-color: #FFF;
}
tfoot
{
    background-color: #D2ECE5;
}
/* Ger all text på hemsidan en annan Font än standard fonten. */
p,ol, ul, table
{
    font-family: Arial,Helvetica,sans-serif;
}
.bigger
{
    font-family: Arial,Helvetica,sans-serif;
    font-size:20px;
}
/* Ger de besökta länkarna samma färg som standard färgen. */
a:visited
{
    color: #2f05FF;
}
/* Lägger in bilden i headern på kontaktsidan */
.headPic
{
    background-image: url("pics/mailpic.jpg");
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 36px;
}
.bloggStyle
{
    width: auto;
    height: auto;
    border-bottom: solid 3px; 
    border-color: #FF0000;
}
.right
{
    float: right;
}
.left
{
    float: left;
}
.indexpic
{
    width: 250px;
    height: 350px;
}



