body
{    

}
#container
{
    
   width:980px;
   height: auto;
   border: 1px;
   border-style: solid;
   border-color: #FF0000;
   margin: auto;
   background-color: #DBFCFF;
}
#header
{
    width: 973px;
    background-color: #D2ECE5;
    padding-left: 5px;
}
#navigation
{
    width: 148px;
    float: left;
    margin-top: 10px;
    background-color: #66D8E2;
}
#content
{
    width: 823px;
    float: left;
    margin-top: 10px;
    background-color: #FFF;
    padding-left: 5px;
}
#footer
{
    width: 973px;
    height: 50px;
    clear: both;
    background-color: #D2ECE5;
    padding-left: 5px;
}
.navColor
{
    background-color: #3FACA1;
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
}

.navColor:hover
{
    background-color: #D2ECE5;
}
.activeLink
{
    padding: 8px;
    margin: 3px;
    margin-left: -30px;
    font-size: 20px;
    background-color: #D2ECE5;
    font-weight: bold;
}
/*Gör så att länkarna går att klicka på! */
.linkClick{}
ul.noDot
{
    list-style-type:none;
}
ol.noNum
{
    list-style-type:none;
}
p,ol, ul, table
{
    font-family: Arial,Helvetica,sans-serif;
}
a.bigger
{
    font-family: Arial,Helvetica,sans-serif;
    font-size:20px;
}
a:visited
{
    color: #2f05FF;
}



